<div id="main-body" style="height: auto !important; min-height: 0px !important;">
  <!--  -->
  <div id="hostel-detail" style="height: auto !important;">
    <div class="container">
      <div class="detail-gallery">
        <!-- <div class="main_image"> -->
          <div class="main-image">
            <img [src]="'http://127.0.0.1:8000/storage/image/product/'+mainImage?.image" alt="Main image">
          </div>

          <div class="thumbnails">
            <div *ngFor="let image of imgage_all; let i = index" class="thumbnail">
              <img [src]="'http://127.0.0.1:8000/storage/image/product/'+image?.image" alt="Thumbnail image" (click)="setMainImage(i)">
            </div>
          </div>

      <!-- </div> -->
    </div>

    <div class="container" style="height: auto !important;">
      <div id="main-content" class="main" style="height: auto !important;">
        <div id="center" style="height: auto !important;">
          <div class="hostel hostel-detail">
            <div class="module">
              <div class="moduletitle">
                <div class="breadcrumbs">
                  <div class="content">
                    <span class="item type">
                      Cho thuê trọ </span>
                    <span class="item_sep"> / </span>
                    <span class="item">{{ news_detail?.district.name }}</span>
                    <span class="item_sep"> / </span>
                    <span class="item">
                      {{ news_detail?.ward.name }}
                    </span>
                  </div>
                </div>
                <div class="blog-title">
                  <h3> Cho thuê trọ khép kín 2222</h3>
                </div>
                <div class="social-date">

                  <!-- <div class="tag vip"> Tin VIP</div> -->
                  <!-- <div class="tag sticked">Xác thực</div> -->
                  <a href="javascript:void(0);" onclick="saveHostel(20642,23152)" class="tag saved heart-20642">Lưu
                    tin</a>

                </div>
              </div>
              <div class="modulecontent">
                <div class="box-content">
                  <div class="info-wrapper">
                    <dl>
                      <dt>Địa chỉ:</dt>
                      <dd> {{ news_detail?.address }}, {{ news_detail?.ward.name }}, {{ news_detail?.district.name }}</dd>
                    </dl>
                    <dl>
                      <dt>Giá:</dt>
                      <dd>

                       {{ news_detail?.default_price }} đồng/tháng
                      </dd>
                    </dl>
                    <div class="info">
                      <div class="i-left">
                        <!-- <dl>
                          <dt>Hình thức:</dt>
                          <dd>
                            Dãy trọ -
                            Tự quản </dd>
                        </dl> -->
                        <dl>
                          <dt>Diện tích:</dt>
                          <dd>
                            {{ news_detail?.room_area }} m<sup>2</sup>
                          </dd>
                        </dl>
                        <dl>
                          <dt>Số phòng:</dt>
                          <dd>{{ news_detail?.total_room }}</dd>
                        </dl>
                        <!-- <dl>
                          <dt>Phòng trống:</dt>
                          <dd>
                            {{  }}
                          </dd>
                        </dl> -->
                        <dl>
                          <dt>Ở tối đa:</dt>
                          <dd>
                            {{ news_detail?.at_maximum }}
                          </dd>
                        </dl>
                      </div>
                      <div class="i-right">
                        <dl>
                          <dt>Người đăng:</dt>
                          <dd>
                            <span>{{ news_detail?.customer.name }}</span>
                          </dd>
                        </dl>
                        <dl>
                          <dt>Điện thoại:</dt>
                          <dd class="phone">
                            <a href="tel:0983983147">
                              <span>{{ news_detail?.phone }}</span>
                            </a>
                          </dd>
                        </dl>
                        <!-- <dl>
                          <dt>Facebook:</dt>
                          <dd>
                          </dd>
                        </dl>
                        <dl>
                          <dt>Email:</dt>
                          <dd>
                          </dd>
                        </dl> -->
                        <dl>
                          <dt>Ngày cập nhật:</dt>
                          <dd class="published">
                            {{ news_detail?.created_at|date:'dd/MM/yyyy'  }}</dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="py-20"></div>
                  <div class="content-detail__wrap">
                    <h2>Thông tin chi tiết</h2>
                    <div class="content-detail">
                      <div class="content">
                        <p [innerHTML]="news_detail?.description">

                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="py-20"></div>

                  <div class="line"></div>
                  <div class="gmap">
                    <!-- <h2>Vị trí</h2> -->

                    <!-- <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                      src="https://maps.google.it/maps?q=P.+Linh+%C4%90%C3%A0m%2C+Ho%C3%A0ng+Mai%2C+H%C3%A0+N%E1%BB%99i%2C+Vietnam&amp;output=embed"></iframe> -->
                  </div>
                  <div class="box-info-review" id="hostel-review">
                    <h2 class="title">(Có 0 bài đánh giá)</h2>
                    <!-- <div class="inner-review">
                      <ul>
                        <li>
                          <p class="name">Chủ trọ :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">Giá cả :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">Môi trường :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">Tiện ích :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">An ninh :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                        <li>
                          <p class="name">Hàng xóm :</p>
                          <div class="grade">
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                          </div>
                        </li>
                      </ul>
                    </div> -->
                    <div class="nav-tabs-custom">
                      <ul class="nav nav-tabs">
                        <li class="active">
                          <a href="#tab_1" data-toggle="tab" aria-expanded="true">Đánh giá</a>
                        </li>
                        <li class="">
                          <a data-toggle="modal" data-target="#box-review" class="port">Viết đánh giá</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                          <div class="item">
                            <div class="content-review">
                              <p style="padding: 0 10px">Chưa có đánh giá nào</p>
                              <a href="#" class="more-review">Xem thêm <span class="fa fa-angle-right"></span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>




        </div>
        <div id="sidebar" class="sidebar" style="height: auto !important;">
          <div class="sidebar__inner" style="height: auto !important;">
            <div class="box-contact right">
              <h2>Liên hệ chủ trọ</h2>
              <dl>
                <!-- <dt><i class="fa-regular fa-circle-user"></i></dt> -->
                <dd>
                  <h3>{{ news_detail?.host}}</h3>
                </dd>
              </dl>
              <dl>
                <!-- <dt><i class="fa-solid fa-phone"></i></dt> -->
                <dd>
                  <a >{{ news_detail?.phone }}</a>
                </dd>
              </dl>
              <!-- <div class="phone">
                <a class="btn-global" href="tel:0983983147"> Gọi ngay </a>
              </div> -->
            </div>
            <div class="list-report">
              <a data-toggle="modal" data-target="#baocao" class="report new report-list">Báo tin không hợp lệ</a>
              <a data-toggle="modal" data-target="#exampleModal" class="report room empty"
                onclick="addReportCode('het-phong')">Báo tin hết phòng</a>
            </div>
            <div class="ads mt-10">


              <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
