<div class="main-content">
	<div class="container">
		<div class="module module-saved">
			<div class="module-header">
				Tin lưu trữ
				<p class="description">Nơi lưu trữ tin của bạn.</p>
			</div>
			<div class="module-content hostel hostel-list">


				<div class="item column" title="Trọ khép kín">
					<div class="border">
						<div class="image">
							
							<a href = "http://localhost:4200/home/detail"
								style="background-image:url('https://tromoi.com/uploads/members/ai.tran/tin%20tr%E1%BB%8D/t5/20789/1_1642408825.jpg')"></a>
							
						</div>
						<div class="info col">
							
							<h4 class="title ">
								<a href = "http://localhost:4200/home/detail">
									Trọ khép kín </a>
							</h4>
							<div class="location-area ">
								<dl class="address">
									<dt> Ba Đông - Phan Sào Nam - Phù Cừ</dt>
								</dl>
							</div>
							<dl class="contact">
								<div class="price">
									2.800.000 VNĐ
								</div>
								<span class="published">Hôm nay</span>
							</dl>
						</div>
					</div>
				</div>

				<div class="paginator">
					<ul class="pagination">
						<li class="disabled"><span>«</span></li>
						<li class="active"><span>1</span></li>
						<li class="disabled"><span>»</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
