<div class="main-content">
	<div class="container">
		<div class="module module-dashboard">
			<div class="module-content">
				<div class="box box-widget widget-user">
					<div class="widget-user-header">
						<div class="widget-user-image"
							style="background-image:url('https://id.ohi.vn/frontend/images/default-avatar.png');">

						</div>
						<div class="widget-user-header-wrap">
							<h3 class="widget-user-username">0966496360</h3>
							<h4 class="widget-user-desc">Tài khoản : 0966496360</h4>
						</div>
					</div>

					<div class="box-footer">
						<div class="item">
							<div class="description-block">
								<div class="item-row">
									<h4 class="item-label">
										Tài khoản:
									</h4>
									<span class="item-data membership">
										<span>Thành viên</span>
										
									</span>
								</div>
								<div class="item-row col-2">
									<h4 class="item-label">
										Thời hạn:
									</h4>
									<span class="item-data">
										Không giới hạn
									</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="description-block">
								<div class="item-row">
									<h4 class="item-label">
										Tổng số dư:
									</h4>
									<span class="item-data">
										0 đ
									</span>
								</div>
								<div class="item-row">
									<h4 class="item-label">
										Số dư gốc:
									</h4>
									<span class="item-data">
										0 đ
									</span>
								</div>
								<div class="item-row">
									<h4 class="item-label">
										Số dư KM:
									</h4>
									<span class="item-data">
										0 đ
									</span>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="description-block">
								<div class="item-row">
									<h4 class="item-label">
										Tin bài:
									</h4>
									<span class="item-data">
										1 tin
									</span>
								</div>
								<div class="item-row">
									<h4 class="item-label">
										Tin VIP:
									</h4>
									<span class="item-data">
										0 tin
									</span>
								</div>
								<div class="item-row">
									<h4 class="item-label">
										Tin HOT:
									</h4>
									<span class="item-data">
										0 tin
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>