<nav class="main_menu">
	<div class="menu_inner">
		<div class="container">
			<div class="container-wrapper">
				<ul class="menunav">
					<!-- <li class=""><a routerLink="index">Trang cá nhân</a></li> -->
          <li class=""><a routerLink="new-list">Trang cá nhân</a></li>
					<li class=""><a routerLink="new-add">Đăng tin</a></li>

					<li class=""><a routerLink="new-save">Tin đã lưu</a></li>
					<!-- <li class=""><a routerLink="new-history">Lịch sử xem tin</a></li>
					<li class=""><a routerLink="index">Đổi mật khẩu</a></li>
					<li class=""><a routerLink="index">Nạp tiền</a></li> -->
					<!-- <li class=""><a routerLink="index">Lịch sử giao dịch</a></li> -->
					<li class=""><a routerLink="logout">Đăng xuất</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>

