<div class="main-content">
  <div class="container">
    <div id="main" class="main">
      <div id="center">
        <div class="news news-detail">
          <div class="module">
            <div class="module-title">
              <h1>{{ post_detail?.title }}</h1>
            </div>
            <div class="social-date">
              
              <span class="published">{{ post_detail?.created_at|date:'dd/MM/yyyy'  }}</span>
            </div>
            
            <div class="module-content">
              <div class="item">
                <div class="content-detail">
                  <p [innerHTML]="post_detail?.content">

                  </p>            
                </div>               
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>