<div class="main-content">
	<div class="container">
		<div class="module module-history">
			<div class="module-header">
				Lịch sử xem tin
				<p class="description">Các tin gần nhất bạn đã xem</p>
			</div>
			<div class="module-content hostel hostel-list">







				<div class="item column" title="Trọ khép kín">
					<div class="border">
						<div class="image">
							<div class="heart" onclick="saveHostel(20146,23152)">
								<a href="javascript:;" class="tag save heart-20146" hostel-id="heart-20146"><svg
										viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
										role="presentation" focusable="false"
										style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
										<path
											d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
										</path>
									</svg></a>
							</div>
							<a href = "http://localhost:4200/home/detail"
								style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')"></a>
							<div class="tag sticked">
								<i class="fa fa-check" aria-hidden="true"></i>
								Xác thực
							</div>
						</div>
						<div class="info col">
							<div class="star">
								<span class="local">
									<a href="#">Trọ khép kín</a> </span>

							</div>
							<h4 class="title ">
								<a href = "http://localhost:4200/home/detail">
									Trọ khép kín </a>
							</h4>
							<div class="location-area ">
								<dl class="address">
									<dt> Ba Đông - Phan Sào Nam - Phù Cừ</dt>
								</dl>
							</div>
							<dl class="contact">
								<div class="price">
									2.800.000 VNĐ
								</div>
								<span class="published">Hôm nay</span>
							</dl>
						</div>
					</div>
				</div>
				<div class="item column" title="Trọ khép kín">
					<div class="border">
						<div class="image">
							<div class="heart" onclick="saveHostel(20146,23152)">
								<a href="javascript:;" class="tag save heart-20146" hostel-id="heart-20146"><svg
										viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
										role="presentation" focusable="false"
										style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
										<path
											d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
										</path>
									</svg></a>
							</div>
							<a href = "http://localhost:4200/home/detail"
								style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')"></a>
							<div class="tag sticked">
								<i class="fa fa-check" aria-hidden="true"></i>
								Xác thực
							</div>
						</div>
						<div class="info col">
							<div class="star">
								<span class="local">
									<a href="#">Trọ khép kín</a> </span>

							</div>
							<h4 class="title ">
								<a href = "http://localhost:4200/home/detail">
									Trọ khép kín </a>
							</h4>
							<div class="location-area ">
								<dl class="address">
									<dt> Ba Đông - Phan Sào Nam - Phù Cừ</dt>
								</dl>
							</div>
							<dl class="contact">
								<div class="price">
									2.800.000 VNĐ
								</div>
								<span class="published">Hôm nay</span>
							</dl>
						</div>
					</div>
				</div>
				<div class="item column" title="Trọ khép kín">
					<div class="border">
						<div class="image">
							<div class="heart" onclick="saveHostel(20146,23152)">
								<a href="javascript:;" class="tag save heart-20146" hostel-id="heart-20146"><svg
										viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
										role="presentation" focusable="false"
										style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
										<path
											d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
										</path>
									</svg></a>
							</div>
							<a href = "http://localhost:4200/home/detail"
								style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')"></a>
							<div class="tag sticked">
								<i class="fa fa-check" aria-hidden="true"></i>
								Xác thực
							</div>
						</div>
						<div class="info col">
							<div class="star">
								<span class="local">
									<a href="#">Trọ khép kín</a> </span>

							</div>
							<h4 class="title ">
								<a href = "http://localhost:4200/home/detail">
									Trọ khép kín </a>
							</h4>
							<div class="location-area ">
								<dl class="address">
									<dt> Ba Đông - Phan Sào Nam - Phù Cừ</dt>
								</dl>
							</div>
							<dl class="contact">
								<div class="price">
									2.800.000 VNĐ
								</div>
								<span class="published">Hôm nay</span>
							</dl>
						</div>
					</div>
				</div>
				<div class="item column" title="Trọ khép kín">
					<div class="border">
						<div class="image">
							<div class="heart" onclick="saveHostel(20146,23152)">
								<a href="javascript:;" class="tag save heart-20146" hostel-id="heart-20146"><svg
										viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
										role="presentation" focusable="false"
										style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
										<path
											d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
										</path>
									</svg></a>
							</div>
							<a href = "http://localhost:4200/home/detail"
								style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')"></a>
							<div class="tag sticked">
								<i class="fa fa-check" aria-hidden="true"></i>
								Xác thực
							</div>
						</div>
						<div class="info col">
							<div class="star">
								<span class="local">
									<a href="#">Trọ khép kín</a> </span>

							</div>
							<h4 class="title ">
								<a href = "http://localhost:4200/home/detail">
									Trọ khép kín </a>
							</h4>
							<div class="location-area ">
								<dl class="address">
									<dt> Ba Đông - Phan Sào Nam - Phù Cừ</dt>
								</dl>
							</div>
							<dl class="contact">
								<div class="price">
									2.800.000 VNĐ
								</div>
								<span class="published">Hôm nay</span>
							</dl>
						</div>
					</div>
				</div>


				<div class="paginator">
					<ul class="pagination">
						<li class="disabled"><span>«</span></li>
						<li class="active"><span>1</span></li>
						<li><a href="?page=2">2</a></li>
						<li><a href="?page=2">»</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>