<div class="main-content">
	<div class="container">
		<div class="module module-hostel service">
			<div class="module-header">Nâng cấp Tin</div>
			<div class="module-content">
				<form action="https://trotothy.com/user/nang-cap-tin/20495" id="appForm" enctype="multipart/form-data"
					method="post">
					<div class="step _2">

						<div class="hostel hostel-list demo goi-vip">
							<div class="title">Tin hiển thị:</div>

							<div class="item column" title="Phòng full Nội Thất Cơ bản">
								<div class="border">
									<div class="image">
										<div class="heart" onclick="saveHostel(20495,23152)">
											<a href="javascript:;" class="tag save heart-20495"
												hostel-id="heart-20495"><svg viewBox="0 0 32 32"
													xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
													role="presentation" focusable="false"
													style="display: block; height: 24px; width: 24px;  stroke-width: 2; overflow: visible;">
													<path
														d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
													</path>
												</svg></a>
										</div>
										<a href="http://localhost:4200/home/detail"
											style="background-image:url('https://tromoi.com/uploads/members/ai.tran/blog/TM_23-3-01.png')"></a>
										<div class="tag closed"></div>
									</div>
									<div class="info col">
										<div class="star">
											<span class="local">
												<a href="http://localhost:4200/home/detail">Hưng Yên</a> </span>

										</div>
										<h4 class="title ">
											<a href="http://localhost:4200/home/detail">
												Trọ khép kín </a>
										</h4>
										<div class="location-area ">
											<dl class="address">
												<dt>Ba Đông - Phan Sào Nam - Phù Cừ</dt>
											</dl>
										</div>
										<dl class="contact">
											<div class="price">
												3.500.000 VNĐ
											</div>
											<span class="published">21-04-2023</span>
										</dl>
									</div>
								</div>
							</div>


						</div>

						<div class="loaitin">
							<div class="select-service">
								<div class="packages">
									<div class="title">Chọn Loại tin</div>
									<ul>
										<li class="package tin-vip active" data-value="tin-vip">
											Tin Vip </li>
										<input type="hidden" name="package-tin-vip" value="tin-vip_1">
										<li class="package tin-hot" data-value="tin-hot">
											Tin Hot </li>
										<input type="hidden" name="package-tin-hot" value="tin-hot_1">
										<li class="package tin-free" data-value="tin-free">
											Tin Free </li>
										<input type="hidden" name="package-tin-free" value="tin-free_1">
									</ul>
								</div>

								<!-- <div class="group_day">
									<div class="title">Chọn số ngày hiển thị tin</div>
									<ul class="pkg_day active" data-value="tin-vip">
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-vip active" for="tin-vip_1"
													data-package="tin-vip">
													1 ngày </label>
												<input type="radio" class="rd_package_item" packitem_id="1"
													name="package_item" value="tin-vip_1" data-value="tin-vip_1"
													id="tin-vip_1" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-vip" for="tin-vip_2"
													data-package="tin-vip">
													3 ngày </label>
												<input type="radio" class="rd_package_item" packitem_id="2"
													name="package_item" value="tin-vip_2" data-value="tin-vip_2"
													id="tin-vip_2" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-vip" for="tin-vip_3"
													data-package="tin-vip">
													5 ngày </label>
												<input type="radio" class="rd_package_item" packitem_id="3"
													name="package_item" value="tin-vip_3" data-value="tin-vip_3"
													id="tin-vip_3" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-vip" for="tin-vip_4"
													data-package="tin-vip">
													1 tuần </label>
												<input type="radio" class="rd_package_item" packitem_id="4"
													name="package_item" value="tin-vip_4" data-value="tin-vip_4"
													id="tin-vip_4" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-vip" for="tin-vip_5"
													data-package="tin-vip">
													2 tuần </label>
												<input type="radio" class="rd_package_item" packitem_id="5"
													name="package_item" value="tin-vip_5" data-value="tin-vip_5"
													id="tin-vip_5" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-vip" for="tin-vip_6"
													data-package="tin-vip">
													1 tháng </label>
												<input type="radio" class="rd_package_item" packitem_id="6"
													name="package_item" value="tin-vip_6" data-value="tin-vip_6"
													id="tin-vip_6" style="display:none;">
											</div>
										</li>
									</ul>
									<ul class="pkg_day" data-value="tin-hot">
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-hot active" for="tin-hot_7"
													data-package="tin-hot">
													1 ngày </label>
												<input type="radio" class="rd_package_item" packitem_id="7"
													name="package_item" value="tin-hot_7" data-value="tin-hot_7"
													id="tin-hot_7" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-hot" for="tin-hot_8"
													data-package="tin-hot">
													3 ngày </label>
												<input type="radio" class="rd_package_item" packitem_id="8"
													name="package_item" value="tin-hot_8" data-value="tin-hot_8"
													id="tin-hot_8" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-hot" for="tin-hot_9"
													data-package="tin-hot">
													5 ngày </label>
												<input type="radio" class="rd_package_item" packitem_id="9"
													name="package_item" value="tin-hot_9" data-value="tin-hot_9"
													id="tin-hot_9" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-hot" for="tin-hot_10"
													data-package="tin-hot">
													1 tuần </label>
												<input type="radio" class="rd_package_item" packitem_id="10"
													name="package_item" value="tin-hot_10" data-value="tin-hot_10"
													id="tin-hot_10" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-hot" for="tin-hot_11"
													data-package="tin-hot">
													2 tuần </label>
												<input type="radio" class="rd_package_item" packitem_id="11"
													name="package_item" value="tin-hot_11" data-value="tin-hot_11"
													id="tin-hot_11" style="display:none;">
											</div>
										</li>
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-hot" for="tin-hot_12"
													data-package="tin-hot">
													1 tháng </label>
												<input type="radio" class="rd_package_item" packitem_id="12"
													name="package_item" value="tin-hot_12" data-value="tin-hot_12"
													id="tin-hot_12" style="display:none;">
											</div>
										</li>
									</ul>
									<ul class="pkg_day" data-value="tin-free">
										<li class="packageitem">
											<div class="item-name">
												<label class="package_item tin-free active" for="tin-free_13"
													data-package="tin-free">
													Gói Free </label>
												<input type="radio" class="rd_package_item" packitem_id="13"
													name="package_item" value="tin-free_13" data-value="tin-free_13"
													id="tin-free_13" style="display:none;">
											</div>
										</li>
									</ul>
									<p class="note" style="display:none;">Tin Free không giới hạn ngày hiển thị và không
										được ưu tiên so với tin VIP/HOT.</p>
								</div> -->
								<div id="package_sl_description_button">

									<div class="pkg_content" id="package_sl_description">
										Tin Free không được ưu tiên so với tin VIP/HOT.
										Vui lòng chọn loại tin
									</div>
									<div class="row-button">
										<a class="back" onclick="window.history.back();">Quay lại</a>
										<input type="submit" value="Nâng cấp" class="button save">

									</div>
								</div>
							</div>
						</div>
						<div class="intro">
							<div class="vip">
								<p><strong class="type vip">Tin VIP</strong></p>
								<p>- Hiển thị ở trang chủ và ưu tiên hiển thị trên cùng tại các trang con.</p>
								<p>- Được quyền ưu tiên hiển thị cấp cao nhất trong trang: đầu trang chủ, đầu trang tỉnh
									thành, đầu trang chi tiết khi tìm kiếm.</p>
								<p>- Được đăng tin lên trang Fanpage chính thống của trotothy.com.</p>

							</div>
							<div>
								<p><strong class="type hot">Tin HOT</strong></p>
								<p>- Hiển thị ở trang chủ và ưu tiên hiển thị cấp 2 (sau tin VIP) tại các trang con.</p>
								<p>- Được quyền ưu tiên hiển thị cấp 2 trong trang chủ, trang tỉnh thành, trang chi tiết
									khi tìm kiếm.</p>
								<p>- Được đăng tin lên trang Fanpage chính thống của trotothy.com.</p>

							</div>
							<div class="free">
								<p><strong>Tin Thường</strong></p>
								<p>- Không hiển thị trang chủ, chỉ hiển thị ở trang con sau tin VIP.</p>
								<p>- Được đăng tin hoàn toàn miễn phí.</p>
								<p>- Hiển thị ở trang con khi tìm kiếm.</p>

							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>